<!--This file uses base.html as a template and all additional content should go between the block and end content tags below-->
{% extends 'base.html' %} 
{% block content %}


<!--Question-->

<div class="question text-centered">
    <h4 class="welcome">Good luck {{ username }}!</h4>
    {% if correct=="yes" and qnumber > 1 %}
    <p class="info">Correct, you have {{ score }} points!</p>
    {% elif correct=="no" and qnumber > 1 %}
    <p class="info">Bad luck, try again!<br>Your score: {{ score }}</p>
    {% elif correct=="skip" and qnumber > 1 %}
    <p class="info">Question skipped.<br>Your score: {{ score }}</p>
    {% endif %}
    <h5 class="question-no">Question {{ qnumber }}</h5>
    <p>{{ question|safe }}</p>
</div>


<!--Answer Form-->

<form class="text-centered" method="POST">
    <div class="form-group">
        <label for="answer">Answer:</label>
        <input type="text" id="answer" name="answer">
        <button type="submit" name="action" value="go" class="btn btn-primary">Go!</button><br>
        <button type="submit" name="action" value="skip" class="btn btn-light">Skip this question ></button>
    </div>
</form>


<hr class="featurette-divider">

<!--Div to hold incorrect guesses-->

<div class="col-xs-6 md-offset-3 incorrect-answers text-centered">
    <h4>Incorrect Guesses:</h4>
    {% if error %}
        {% for error in error %}
    <p>{{ error }}</p>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}
