<!--This file uses base.html as a template and all additional content should go between the block and end content tags below-->
{% extends 'base.html' %} 
{% block content %}

<h3 class="text-centered welcome">Welcome!</h3>

<!--Username form-->

<form class="text-centered" method="POST">
    <!--Input form for username-->
    <div class="form-group">
        <label for="username"><strong>Please enter a username:</strong></label>
        <input type="text" id="username" name="username" required><br>
        <button type="submit" class="btn btn-primary play-btn">Play</button>
    </div>
    <!--Errors will go here-->
    <div>
        {% if error %}
        <p class="error"><strong>{{ error }}</strong></p>
        {% endif %}
    </div>
</form>


<!--Game Instructions-->

<section class="container">
    <div class="row">
        <div class="col-xs-6 instructions">
            <p>Welcome to Riddle me THIS!</p>
            <ul>
                <li>You are about to be asked twenty lateral thinking questions.</li>
                <li>All the questions have a single word answer.</li>
                <li>You have as many chances as you like to answer each question.</li>
                <li>Enter your username above and click Play to continue.</li>
            </ul> 
        </div>
    </div>
</section>


<hr class="featurette-divider">


<!--High Score Table-->
<aside class="text-centered high-scores">
    <h4>High Scores</h4>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Score</th>
            </tr>
        </thead>
        {% for key in ordered_scores %}
            <tr>
                <td>{{ all_scores[key]["name"] }}</td>
                    <td>{{ all_scores[key]["date"] }}</td>
                    <td>{{ all_scores[key]["score"] }}</td>
            </tr>
        {% endfor %}
    </table>
</aside>

{% endblock %}
