<!--This file uses base.html as a template and all additional content should go between the block and end content tags below-->
{% extends 'base.html' %} {% block content %}

<h3 class="text-centered">Welcome</h3>

<form class="text-centered" method="POST">
    <!--Input form for username-->
    <div class="form-group">
        <label for="username">Please enter a username:</label>
        <input type="text" id="username" name="username"></input><br>
        <button type="submit" class="btn btn-success">Play</button>
    </div>
    <div>
        {% if error %}
        <p class="error"><strong>Error: {{ error }}</strong></p>
        {% endif %}
    </div>
</form>

<hr class="featurette-divider">

<section class="container">
    <!--Game Instructions-->
    <div class="row">
        <div class="col-xs-6 instructions">
            <p>Welcome to Riddle me THIS! You are about to be asked twenty lateral thinking questions. You have as many chances as you like to answer each question with a one-word answer. Enter your username above and click Play to continue.</p>
        </div>
    </div>
</section>

<hr class="featurette-divider">

<aside class="text-centered">
    <!--High score table to go here-->
    <h4>High Scores</h4>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Score</th>
            </tr>
        </thead>
        {% for key in ordered_scores %}
            <tr>
                <td>{{ key }}</td>
                    <td>{{ all_scores[key]["date"] }}</td>
                    <td>{{ all_scores[key]["score"] }}</td>
            </tr>
        {% endfor %}
    </table>
</aside>

{% endblock %}
